@import url('./carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --header-grey: #121212;
    /* Primary BG bör vara din bakgrundsfärg */
    --primary-bg: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-bg);
    max-width: 100%;
}

h1, h2, h3, h4, h5 {
    color: white;
}

p {
    color: white;
}

/* Utils */
#cardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.movie-flex {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-top: 5%;
    /* align-items: center; */ 
}

.movie-plot {
    max-width: 75%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.movie-actors {
    max-width: 30%;
}

.movie-card {
    position: relative;
    width: 33%;
    box-sizing: border-box;
    padding: 10px;
}

.favBtnToggle {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 20px;
    right: 20px;
    z-index: 99;
    size: 64px 64px;
    border-radius: 25px;
    background-color: lightgreen;
    border-width: 1px;
    
}

.favBtnToggle:hover {
    opacity: 100%;
}

.favBtnToggle::after {
    background-color: #F5C518;
    opacity: 100%;
}

.movie-poster {
    width: 100%;
    height: auto;
}

.movie-title {
    text-align: center;
}

.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}

.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    background-color: yellow;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

/* Responsivitet */

@media (max-width: 1024px) {
    .movie-card {
        width: calc(50% - 16px); /* 2 items per row on medium screens */
    }
}

@media (max-width: 600px) {
    .movie-card {
        width: 100%; /* 1 item per row on small screens */
    }
}